﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <h1>Formulario Simple</h1>
    <input asp-for="@Model.Persona.id" placeholder="Ingrese un Id" />
    <input asp-for="@Model.Persona.nombre" placeholder="Ingrese un nombre" />
    
    <input type="submit"  asp-page-handler="Persona" />
</form>